body {
background-color: rgb(255, 247, 234);
display: flex;
flex-direction: column;
}

h4 {
    text-align: center; 
    }
    
    form {
        width: 2em;
        margin-left: 1em;
    }
    
    form label {
    display: flex;
    margin-top: 1.25em;
    font-size: 0.8em;
    }
    
    form input {
        padding: 0.3em;
        border: 1px solid palevioletred;
        border-radius: 6px;
        outline: none;
    }
    
    input[type="button"] {
        width: 20em;
        height: 2.1em;
        margin: 1.25em;
        border: none;
        background-color: rgb(0, 0, 0);
        color: pink;
    }
    

/*index.html*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  float: right;
  margin: 0%;
  padding: 0%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 2em;
}

.Home{
    color:black;
    background-color:rgb(255, 215, 222);
    height: 2em;
    width: 25em;
    margin-left: 5%;
    border-style: dotted dashed solid double;
} 

.Festival {
    color: black;
    background-color:rgb(252, 178, 190);
    height: 2em;
    width: 110px;
    margin-left: 8%;
    border-style: dotted dashed solid double;
}

.Contact {
    color: black;
    background-color: rgb(249, 132, 152);
    height: 2em;
    width: 110px;
    margin-left: 8%;
    border-style: dotted dashed solid double;
}

.Login {
    color: rgb(0, 0, 0);
    background-color: rgb(252, 96, 122);
    height: 2em;
    width: 110px;
    margin-left: 10%;
    border-style: dotted dashed solid double;
}

.introText {
color:black;
font-family: Garamond;
font-weight: normal;
font-size:  20px;
display: flex;
justify-content: left;
}

main {
    display: flex;
}

.introBox{
    background-color: pink;
    display: block;
    width: 40em;
    height: 3%;
    margin: 1em;
    margin-top: 10em;
    
}
.ade-festival23 {
    display: block;
    width: 45em;
    height: 18em;
    margin: 2em;
    margin-top: 4em;
    align-items: center;
 }
 

.blijfopdehoogte {
    font-size: 1.30em;
    text-align: right;
    border: 1px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
}

.Studio-arena {
    width: 20em;
    height: 14em;
}

.Eventix {
    width: 20em;
    height: auto;
}

.awakenings {
    width: 20em;
    height: 14em;
}

.minimalcollective {
    width: 20em;
    height: 14em;
}

/*login.html*/
.signlogin-box {
    display: flex;
    justify-content: center;
}

.Signup-box {
    width: 20em;
    height: 35em;
    margin-top: 1em;
    background-color: pink;
    border-radius: 2em;
    
}

h1 {
    text-align: center;
    padding-top: 0.1em;
}

h4 {
text-align: center; 
}

form {
    width: 2em;
    margin-left: 1em;
}

form label {
display: flex;
margin-top: 1.25em;
font-size: 0.8em;
}

form input {
    padding: 0.3em;
    border: 1px solid palevioletred;
    border-radius: 6px;
    outline: none;
}

input[type="button"] {
    width: 20em;
    height: 2.1em;
    margin: 1.25em;
    border: none;
    background-color: rgb(0, 0, 0);
    color: pink;
}

p {
    text-align: center;
    padding-top: 1em;
    font-size: 0.9em;
}

.Login-box {
    width: 20em;
    height: 23em;
    margin-top: 1em;
    background-color: pink;
    border-radius: 2em;
    margin-left: 4em;
}

.signuptitel { 
    text-align: center;
    padding-top: 0.1em;
}

.footerlogin {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.Studio-arena-login {
    width: 18em;
    height: 14em;
}

.Eventix-login {
    width: 19.7em;
    height: auto;
}

.awakenings-login {
    width: 18em;
    height: 14em;
}

.minimalcollective-login {
    width: 18em;
    height: 14em;
}

.blijfopdehoogte-login {
    font-size: 1.20em;
    text-align: right;
    border: 1px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

/*contact*/

.contact-box {
    display: flex;
    justify-content: center;
}

.Onderwerp {
    background-color: pink;
    font-size: 1em;
    color: black;
    margin-top: 1em;
    width: 20em;
    border-radius: 2em;
}

.contact-box2 {
    background-color: rgb(228, 225, 225);
    font-size: 1em;
    color: black;
    margin-top: 1em;
    width: 27em;
    height: 13em;
    margin-left: 2em;
    border-radius: 2em;
}
 
.Adeprogramma{
    display: block;
    flex-direction: column;
    margin-top: 1em;
}

.Festivalimages {
    width: 20em;
    height: 15em;
}

.Festivaltext{
    text-align: left;
    width: 35em;
}

.studioarena-festivalimg {
    width: 18em;
    height: 14em;
}

.eventix-festivalimg {
    width: 18em;
    height: 14em;
}

.awakenings-festivalimg{
    width: 18em;
    height: 14em;
}

.minimalcollective-festivalimg{
    width: 18em;
    height: 14em;
}

.studioarena-contactimg {
    width: 18em;
    height: 14em;
}

.eventix-contactimg {
    width: 18em;
    height: 14em;
}

.awakenings-contactimg{
    width: 18em;
    height: 14em;
}

.minimalcollective-contactimg{
    width: 18em;
    height: 14em;
}